<%- include('partials/header.ejs') %>


<h1>All tasks</h1>
<a href="/new">Add a new list item</a>
<% for ( let list of lists ) { %> 
    <div>
        <p>
           <a href="/<%=list.id %>"><%= list.title %></a> 
           <%=console.log(list.id) %> 
         </p>
    <div>
<% } %> 

<%- include('partials/footer.ejs') %>