<%- include('partials/header.ejs') %>


<h1>All tasks</h1>
<a href="/new">Add a new list item</a>
<% for ( let list of lists ) { %> 
    <div>
        <p>
           <a href="/<%= list.id %>"><%= list.title %></a> 
         </p>
         <p><%=list.dateDue %> </p>
         <form action="/<%=list.id%>?_method=delete" method="post">
            <input type="submit" value="DELETE">
        </form>

    <div>
<% } %> 

<%- include('partials/footer.ejs') %>