<%- include('partials/header.ejs') %>

  <div id="change-list" class="card">
    <div class="card-header">
      <div>
        <h3 class="card-title"><%=list.title%>
          <h6><%=list.category%> </h6>
        </h3>
      </div>
    </div>
    <div class="card-body"''>
        <% if (list.description) { %> 
        <h5 class="card-title"><%=list.description%></h5>
        <% } else { %> 
            <p class="card-text">There is no description set</p>
            <% } %> 
        <% if(list.dateDue) { %> 
      <p class="card-text">Due by <%=list.dateDue.toString().slice(0,10) %> </p>
      <% } else { %> 
    <p class="card-text">There is no due date set</p>
    <% } %> 
    <p class="card-text"><%=list.priority.charAt(0).toUpperCase() + list.priority.slice(1)%> priority</p>


      <form action="<%= baseUrl %>/<%= list.id %>?_method=delete" method="post">
        <input type="submit" class="btn btn-danger" value="Delete">
      <a class="btn btn-secondary" href="<%= baseUrl %>/<%=list.id%>/edit" role="button">Edit</a>
      </form>
    </div>
  </div>


<%- include('partials/footer.ejs') %>