<%- include('partials/header.ejs') %>


<h1>Show page</h1>

<a href="/">Homepage</a>

<label>Title</label>
<p><%= list.title %> </p>

<label>Description</label>
<p><%= list.description %> </p>

<label>Priority</label>
<p><%= list.priority %> </p>


<label>Status</label>
<p><%= list.status %> </p>


<label>Date Due</label>
<p><%= list.dateDue %> </p>


<a href="/<%=list.id%>/edit ">Make Changes</a>

<%- include('partials/footer.ejs') %>