
<%- include('../partials/header.ejs') %>
<% let groupOther = 0 %> 
<div class="todo-tasks list-group list-group-checkable d-grid gap-2 border-0 w-auto">
  <% let groupOther =0 %>
  <% for (let i = 0; i < list.length; i++) { %> 
    <% if (list[i].category === "Other" && list[i].status === false) { %> 
      <% groupOther ++ %> 
        <form action="<%= baseUrl %>/<%= list[i].id %>?_method=delete" method="post">
            <input type="submit" class="btn btn-success" value="Complete">
            <a class="btn btn-secondary" href="<%= baseUrl %>/<%=list[i].id%>/edit" role="button">Edit</a>
          </form>
            <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios<%=[i]%>">
            <a label class="list-group-item rounded-3 py-3" href="<%= baseUrl %>/<%=list[i].id%>" for="listGroupCheckableRadios<%=[i]%>">
              <%=list[i].title%>
              <span class="d-block small opacity-50">
                <%=list[i].category %> 
                <br> 
                <%=list[i].priority%> priority 
                <br>
                <% if (list[i].dateDue) { %> 
                  Due by <%=list[i].dateDue.toString().slice(0,10) %> 
                  <% } %> 
                </span>
              </label>
              <div>
                <form class="formWithButtons" action="<%= baseUrl %>/<%= list[i].id %>?_method=put" method="post">
                <input type="checkbox" name="status" value="on" checked hidden>
                <input type="submit" class="mt-2 btn btn-outline-success" value="Complete">
                <object><a class=" mt-2 btn btn-outline-primary" href="<%= baseUrl %>/<%=list[i].id%>/edit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                  </svg>
                </a></object>
                <form class="formWithButtons" action="<%= baseUrl %>/<%= list[i].id %>?_method=delete" method="post">
                  <button type="submit" value="remove" class="mt-2 btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                  <path d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"></path>
                  </svg></button>
                </form>    
                </form>
                </div>
            </a>
  
      <% } %> 
  <% } %> 
  
  </div>
  <% if (groupOther === 0 ) { %> <h1 class="no-items-category"> There are no list items of this category </h1> <% } %> 
<%- include('../partials/footer.ejs') %>