
<%- include('../partials/header.ejs') %>

<div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
<% for (let i = 0; i < list.length; i++) { %> 
    <% if (list[i].category === "Other" && list[i].status === false) { %> 
        <form action="<%= baseUrl %>/<%= list[i].id %>?_method=delete" method="post">
            <input type="submit" class="btn btn-success" value="Complete">
            <a class="btn btn-secondary" href="<%= baseUrl %>/<%=list[i].id%>/edit" role="button">Edit</a>
          </form>
            <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="listGroupCheckableRadios<%=[i]%>">
            <a label class="list-group-item rounded-3 py-3" href="<%= baseUrl %>/<%=list[i].id%>" for="listGroupCheckableRadios<%=[i]%>">
              <%=list[i].title%>
              <span class="d-block small opacity-50">
                <%=list[i].category %> 
                <br> 
                <%=list[i].priority%> priority 
                <br>
                <% if (list[i].dateDue) { %> 
                Due by <%=list[i].dateDue.toString().slice(0,15) %> 
                <% } %> 
              </span>
            </label>
          </a>
    <% } %> 
<% } %> 
</div>

<%- include('../partials/footer.ejs') %>