
<%- include('../partials/header.ejs') %>

<div class="form-container">
    <h1>Login</h1>
    <div class="flash-messages">
      <% if (messages.success) { %>
        <% for (let msg of messages.success) { %>
          <p class="success"><%= msg %></p>
        <% } %>
      <% } %>
      <% if (messages.info) { %>
        <% for (let msg of messages.info) { %>
          <p class="info"><%= msg %></p>
        <% } %>
      <% } %>
      <% if (messages.error) { %>
        <% for (let msg of messages.error) { %>
          <p class="error"><%= msg %></p>
        <% } %>
      <% } %>
    </div>
  

<form action="<%= baseUrl %>/login" method="post">
<p>
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required />
</p>
<p>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
</p>
  <input class="button button-primary" type="submit" value="Login" />
<p>
    Don't have an account yet?
    <a href="/user/signup">Sign up here</a>
</p>
</form>
</div>
<%- include('../partials/footer.ejs') %>