
<%- include('../partials/header.ejs') %>

<div class="form-container">


<form action="<%= baseUrl %>" method="post">
<section id="register-page" class="w-100 p-4 d-flex justify-content-center pb-4">
  <div style="width: 26rem;">
    
    <!-- Pills navs -->
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-login" data-mdb-toggle="pill" href="/login" role="tab" aria-controls="pills-login" aria-selected="false">Login</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" href="/user/signup" role="tab" aria-controls="pills-register" aria-selected="true">Register</a>
      </li>
    </ul>


    <!-- Pills content -->
    <div class="tab-content">
      <div class="tab-pane fade active show" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form>
          <div class="text-center mb-3">

          <!-- User input -->
          <div class="form-outline mb-4">
            <input type="text" name="username" id="username" class="form-control active" required>
            <label class="form-label" for="username" style="margin-left: 0px;">Username</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 114.4px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" name="password" id="password"  class="form-control active" required>
          <label class="form-label" for="password" style="margin-left: 0px;">Password</label>
        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div>
        <div class="form-notch-middle" style="width: 64.8px;"></div>
        <div class="form-notch-trailing"></div>
        </div></div>
          <!-- Sign up button -->
          <button type="submit" value="Login" class="btn btn-primary btn-block mb-4">Sign up</button>
  </section>
</form>

    <div class="flash-messages">
      <% if (messages.success) { %>
        <% for (let msg of messages.success) { %>
          <p class="success"><%= msg %></p>
        <% } %>
      <% } %>
      <% if (messages.info) { %>
        <% for (let msg of messages.info) { %>
          <p class="info"><%= msg %></p>
        <% } %>
      <% } %>
      <% if (messages.error) { %>
        <% for (let msg of messages.error) { %>
          <p class="error"><%= msg %></p>
        <% } %>
      <% } %>
      </div>    
     
</div>
<%- include('../partials/footer.ejs') %>